.background{
    display: flex;
    height:max-content;
    width: max-content;
    position: absolute;

    &__left{
        background-color :hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
        width: 100%;
        height:100%; 
        overflow: auto;
    }

    &__rigth{
        display: flex;
        justify-self: center;
        align-self: center;
    }   

}